<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<appSettings>
		<add key="AssemName" value="C:\Users\HC\Documents\Visual Studio 2017\Projects\IOC\IOC\bin\Debug\DAL.dll"></add>
		<add key="ExpressName" value="DAL.SF"></add>
	</appSettings>
</configuration>